<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eyecare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EyeCare">


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.EyeCare.NoActionBar">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

      <activity android:name=".StartTest"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ColorBlindnessTest"
            android:parentActivityName=".MainActivity"
            android:label="ColorBlindnessTest"/>
        <activity android:name=".AmslerGridTest"
            android:parentActivityName=".MainActivity"
            android:label="AmslerGridTest"/>
        <activity android:name=".AstigmatismTest"
            android:parentActivityName=".MainActivity"
            android:label="AstigmatismTest"/>
        <activity android:name=".VisualAcuity"
            android:parentActivityName=".MainActivity"
            android:label="VisualAcuity"/>
        <activity android:name=".NearVision"
            android:parentActivityName=".MainActivity"
            android:label="NearVision"/>
        <activity android:name=".FarVision"
            android:parentActivityName=".MainActivity"
            android:label="FarVision"/>




    </application>

</manifest>